{% extends 'base.html' %}
{% block content %}

{% if object_list %}
    <p>Software List For {{item}}:</p>
    {% for instance in object_list %}
        <p>{{instance.software_name}}</p>
        <td><a class="btn btn-sm btn-into" href="{% url 'editsoftware' instance.id %}">Edit</a></td>
        <td><a class="btn btn-sm btn-into" href="{% url 'deletesoftware' instance.id %}">Delete</a></td>
        <p>
        <img src={{instance.logo.url}} width="250" />
        </p>
    {% endfor %}
{% else %}
    <a href="{% url 'listingsoftware' %}">View full software list</a>
{% endif %}
<p><a href="{% url 'listingcustomers' %}">Back to customer list</a></p>

{% endblock %}